body{
    width: 100%;
    font-size: 1.6 rem;
}

.header-container{
    width: 100%;
    padding: 0 10px 0 10px;
    background: gray;
}

.header-up{
    height: 5rem;
    overflow: hidden;
}

.header-logo-box{

}

.header-nav{

}